<span class="flex items-center gap-2 bg-[#c9e8ff00] text-[#c9e8ff] hover:text-[#ff6622] text-xl font-medium px-2.5 py-1 rounded-lg border-[3px] border-[#c9e8ff] hover:border-[#ff6622] transition-colors duration-200 border-opacity-70">
    <slot />
</span>