<!-- <article class="mt-9">
     <div class="slider">
        <div class="slide-track flex">
            <div class="slide">
                <img class="w-32" src="logos/brand-html5.svg" alt="Logo de html">
            </div>
            <div class="slide">
                <img class="w-32" src="logos/brand-css3.svg" alt="Logo de css">
            </div>
            <div class="slide">
                <img class="w-32" src="logos/brand-javascript.svg" alt="Logo de javascript">
            </div>
            <div class="slide">
                <img class="w-32" src="logos/brand-typescript.svg" alt="Logo typescript">
            </div>
            <div class="slide">
                <img class="w-32" src="logos/brand-sass.svg" alt="Logo de sass">
            </div>
            <div class="slide">
                <img class="w-32" src="logos/brand-bootstrap.svg" alt="Logo de bootstrap">
            </div>
            <div class="slide">
                <img class="w-32" src="logos/brand-tailwind.svg" alt="Logo de tailwind">
            </div>
            <div class="slide">
                <img class="w-32" src="logos/brand-astro.svg" alt="Logo de astro">
            </div>
            <div class="slide">
                <img class="w-32" src="logos/brand-angular.svg" alt="Logo de angular">
            </div>
            <div class="slide">
                <img class="w-32" src="logos/brand-git.svg" alt="Logo de git">
            </div>
            <div class="slide">
                <img class="w-32" src="logos/brand-mysql.svg" alt="Logo de mysql">
            </div>
            <div class="slide">
                <img class="w-32" src="logos/brand-php.svg" alt="Logo de php">
            </div>
        </div>
     </div>
</article> -->
