<header class="flex justify-center items-center px-5 py-3 my-6 w-auto border-[3px] rounded-full border-[#c9e8ff] border-opacity-70 hover:border-[#ff6622] transition-colors duration-200">
    <nav class="flex justify-center items-center flex-row gap-x-16 opacity-90 font-bold">
        <a class="hover:text-[#ff6622] transition-colors duration-200" href="/">Inicio</a>
        <a class="hover:text-[#ff6622] transition-colors duration-200" href="#proyectos">Proyectos</a>
        <a class="hover:text-[#ff6622] transition-colors duration-200" href="#experiencia">Experiencia</a>
    </nav>
</header>