---
import Proyecto from "./Proyecto.astro";
---
<div class="min-h-screen flex flex-col justify-center mb-52" id="proyectos">
<h1 class="flex justify-center items-center text-5xl md:text-[2.7rem] font-bold text-[#c9e8ff] mb-16 md:mb-20 mt-16 md:mt-[10rem]">Mis proyectos</h1>
	<section class="max-w-7xl mx-auto px-4 my-6">
		<div class="grid gap-24 md:grid-cols-2 items-stretch">
			<!-- Card 1 -->
			<Proyecto 
				title="Genesis"
				description="Tienda online de productos tecnológicos con pagos mediante paypal y sistema de facturación además de un back office."
				image="/public/projects/visual-genesis-landing.png"
				tech={["PHP","JavaScript","HTML","CSS","Sass","MySQL","Bootstrap"]}
				githubUrl="https://github.com/aaronhmn/TFG"
				iconClass="w-7 h-7"
			/>
			<!-- Card 2 -->
			<Proyecto
				title="Knowy"
				description="Plataforma de aprendizaje online para cursos de programación siguiendo la metodología de repetición espaciada."
				image="/public/projects/visual-knowy.png"
				tech={["Java","Spring","JavaScript","HTML","Sass","Bootstrap","PostgreSQL","Docker"]}
				githubUrl="https://github.com/aaronhmn/TFG"
				iconClass="w-7 h-7"
			/>
		</div>
	</section>
</div>