---
/* import './src/styles/global.css'; */
import Carrusel from "../components/Carrusel.astro";
import Header from "../components/Header.astro"
import '@fontsource-variable/space-grotesk';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Portfolio web | aaronhelices</title>
	</head>
	<body>
		<div class="fixed top-0 z-[-2] h-full w-full bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"></div>
		<Header />
		<slot />
		<Carrusel />
	</body>
</html>

<style is:global>
	:root {
		color-scheme: light dark;
	}

	* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	html {
		font-family: 'Space Grotesk Variable', system-ui, sans-serif;
	}

	body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.img-perfil {
		transition: 0.2s;
		cursor: pointer;
	}

	.slider {
		width: 70vw;
		height: auto;
		margin: auto;
		overflow: hidden;
	}

	.slider .slide-track {
		display: flex;
		animation: scroll 20s linear infinite;
		-webkit-animation: scroll 20s linear infinite;
		width: calc(125px * 24);
	}

	.slider .slide {
		width: 125px;
	}

	.slider .slide img {
		width: 100%;
	}

	@keyframes scroll {
		0% {
			-webkit-transform: translateX(0);
			transform: translateX(0);
		}
		100% {
			-webkit-transform: translateX(calc(-125px * 12));
			transform: translateX(calc(-125px * 12));
		}
	}

</style>
