---
import '../styles/global.css';
import '@fontsource-variable/space-grotesk';
import Header from "../components/Header.astro"
import Carrusel from "../components/Carrusel.astro";
import Proyectos from '../components/Proyectos.astro';
import Experience from '../components/Experience.astro';
import Contact from '../components/Contact.astro';
import Arrow from '../components/Arrow.astro';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Portfolio web | aaronhelices</title>
	</head>
	<body>
		<div class="fixed top-0 z-[-2] h-full w-full bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"></div>
		<Header />
		<slot />
		<Carrusel />
		<Proyectos />
		<Experience />
		<Contact />
		<Arrow />
	</body>
</html>

<style is:global>
	:root {
		color-scheme: light dark;
	}

	* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	html {
		font-family: 'Space Grotesk Variable', system-ui, sans-serif;
		scroll-behavior: smooth;
	}

	.img-perfil {
		transition: 0.2s;
		cursor: pointer;
	}

</style>
