---
import './src/styles/global.css';
import Carrusel from "../components/Carrusel.astro";
import Header from "../components/Header.astro"
import '@fontsource-variable/space-grotesk';
import Proyectos from "../components/Proyectos.astro";
import Experience from '../components/Experience.astro';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Portfolio web | aaronhelices</title>
	</head>
	<body>
		<div class="fixed top-0 z-[-2] h-full w-full bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"></div>
		<Header />
		<slot />
		<h1 class="flex justify-center items-center text-5xl md:text-[2.7rem] font-bold text-[#ff6622] mb-4 md:mb-8">Expositor de tecnologías</h1>
		<Carrusel />
		<h1 class="flex justify-center items-center text-5xl md:text-[2.7rem] font-bold text-[#ff6622] mb-16 md:mb-20 mt-16 md:mt-56">Mis proyectos</h1>
		<section class="max-w-7xl mx-auto px-4 my-6">
			<div class="grid gap-24 md:grid-cols-2 items-stretch">
				<!-- Card 1 -->
				<Proyectos 
					title="Genesis"
					description="Tienda online de productos tecnológicos con pagos mediante paypal y sistema de facturación además de un back office."
					image="/public/projects/visual-genesis-landing.png"
					tech={["PHP","JavaScript","HTML","CSS","Sass","MySQL","Bootstrap"]}
					githubUrl="https://github.com/aaronhmn/TFG"
					iconClass="w-7 h-7"
				/>
				<!-- Card 2 -->
				<Proyectos 
					title="Knowy"
					description="Plataforma de aprendizaje online para cursos de programación siguiendo la metodología de repetición espaciada."
					image="/public/projects/visual-knowy.png"
					tech={["Java","Spring","JavaScript","HTML","Sass","Bootstrap","PostgreSQL","Docker"]}
					githubUrl="https://github.com/aaronhmn/TFG"
					iconClass="w-7 h-7"
				/>
			</div>
		</section>

		<Experience />
		 
	</body>
</html>

<style is:global>
	:root {
		color-scheme: light dark;
	}

	* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	html {
		font-family: 'Space Grotesk Variable', system-ui, sans-serif;
	}

	.img-perfil {
		transition: 0.2s;
		cursor: pointer;
	}

/* 	.slider {
		width: 70vw;
		height: auto;
		margin: auto;
		overflow: hidden;
	}

	.slider .slide-track {
		display: flex;
		animation: scroll 20s linear infinite;
		-webkit-animation: scroll 20s linear infinite;
		width: calc(125px * 24);
	}

	.slider .slide {
		width: 125px;
	}

	.slider .slide img {
		width: 100%;
	}

	@keyframes scroll {
		0% {
			-webkit-transform: translateX(0);
			transform: translateX(0);
		}
		100% {
			-webkit-transform: translateX(calc(-125px * 12));
			transform: translateX(calc(-125px * 12));
		}
	}
 */
</style>
